openapi: 3.1.0
info:
  title: tybird API
  version: 0.1.0
  summary: Official, versioned tybird platform contract (curated surface).
  description: |
    The stable, versioned API contract of the tybird platform. Apps (the "Mein Buedenbender"
    end-customer app, the internal CRM, future partner apps) build exclusively against this
    contract, not against the internal database schema.

    This v0.1 is the FIRST curated surface, covering the end-customer app. It is spec-first:
    the contract is deliberately defined; the runtime behind it (Supabase - curated RPCs plus
    the `api` edge function, with PostgREST/RLS underneath) implements exactly these signatures.

    Authentication and tenancy:
    - Auth is a Supabase JWT (passwordless magic link). The tenant is derived from the token
      (the `active_tenant_id` claim); it is never passed as a parameter. End customers receive
      the tenant via an `endkunde` tenant membership.
    - Row-level security guarantees every end customer sees only their own data.

    Conventions:
    - This contract and its documentation are in English. User-facing copy inside the apps is
      German; that is a frontend concern, not part of this contract.
    - Some enum values map to internal (German) database enums; the `api` layer translates
      between the English contract values and the internal values. This is intentional and is
      what decouples apps from the internal schema.
    - Monetary amounts are whole euros (integer) unless noted otherwise.

    STATUS: v0.1 draft. Endpoints reflect capabilities verified against production, but are to
    be read as the CONTRACT that the platform surface (`api`) implements.
  contact:
    name: billiton internet services GmbH
    email: p.schulte@billiton.de
  license:
    name: Proprietary - all rights reserved
    identifier: LicenseRef-proprietary

servers:
  - url: https://meinbbh.api.buedenbender-hausbau.de/functions/v1/api
    description: Production (BBH tenant, via the `api` edge function)
  - url: https://hgomofffrjtaujbpunao.functions.supabase.co/api
    description: Preview

security:
  - bearerAuth: []

tags:
  - name: Identity & Phase
    description: The current user and their life-cycle phase (G1-G4).
  - name: Referrals
    description: Personal referral link and status list with anonymity threshold.
  - name: Appointments
    description: Consultation and viewing appointments.
  - name: Notifications
    description: Channel preferences (in-app/email/SMS) and consents (email/SMS/WhatsApp/push).
  - name: Journey & Open House
    description: Journey progress and open-house ("Kundenhaustag") interest.
  - name: Discover
    description: Houses, show homes and saved favorites.
  - name: Documents
    description: Own documents and warranty (own only, signed URLs).

paths:
  /me:
    get:
      tags: [Identity & Phase]
      summary: Get the current user and derived phase
      operationId: getMe
      responses:
        "200":
          description: Profile of the authenticated end customer, including the derived phase.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Me" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /me/phase:
    patch:
      tags: [Identity & Phase]
      summary: Set the phase manually (user override)
      description: |
        Sets the manually chosen phase. A stronger system signal (contract/handover) may later
        override it. G4 is reachable only by the user's own choice; anyone who has built always
        gets G3.
      operationId: setMyPhase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phase]
              properties:
                phase: { $ref: "#/components/schemas/Phase" }
      responses:
        "200":
          description: Updated profile.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Me" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /referrals/link:
    get:
      tags: [Referrals]
      summary: Get the personal referral link
      description: Returns the personal link/slug ("link, not data" - there is no field for a third party's data).
      operationId: getReferralLink
      responses:
        "200":
          description: Personal referral link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  slug: { type: string, example: doro-k }
                  url:
                    type: string
                    format: uri
                    example: https://buedenbender-hausbau.de/tools/r/doro-k
        "401": { $ref: "#/components/responses/Unauthorized" }

  /referrals:
    get:
      tags: [Referrals]
      summary: List own referrals (with anonymity threshold)
      description: |
        Status, not identity. The anonymity threshold (GDPR/BGH) is enforced server-side:
        with EXACTLY ONE active referral, NO fine-grained stages are returned (only a coarse
        3-step tracker), unless the referred person has explicitly consented (detail_consent).
        With MULTIPLE active referrals, fine-grained stages are allowed. Names or identities of
        the referred person are never returned.
      operationId: listReferrals
      responses:
        "200":
          description: List of own referrals (status only) plus the threshold state.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReferralList" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /referrals/{referralId}/detail-consent:
    post:
      tags: [Referrals]
      summary: Unlock fine-grained detail (only with explicit consent)
      description: Sets detail_consent for a referral. Only with documented consent of the referred person.
      operationId: setReferralDetailConsent
      parameters:
        - $ref: "#/components/parameters/ReferralId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [consent]
              properties:
                consent: { type: boolean }
      responses:
        "204": { description: "Set." }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /appointments:
    get:
      tags: [Appointments]
      summary: List own appointments
      operationId: listAppointments
      responses:
        "200":
          description: Own appointments.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Appointment" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Appointments]
      summary: Request/book an appointment
      description: Books an appointment (mode onsite / video / phone). Backed by the platform's booking logic.
      operationId: bookAppointment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AppointmentRequest" }
      responses:
        "201":
          description: Appointment requested.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Appointment" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /appointments/{appointmentId}:
    delete:
      tags: [Appointments]
      summary: Cancel an appointment
      operationId: cancelAppointment
      parameters:
        - $ref: "#/components/parameters/AppointmentId"
      responses:
        "204": { description: "Cancelled." }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /notification-preferences:
    get:
      tags: [Notifications]
      summary: Get channel preferences
      operationId: getNotificationPreferences
      responses:
        "200":
          description: Preferences.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationPreferences" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      tags: [Notifications]
      summary: Set channel preferences
      operationId: putNotificationPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NotificationPreferences" }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationPreferences" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /consents:
    get:
      tags: [Notifications]
      summary: List consents per channel
      description: |
        WhatsApp is deliberately "notices only" - no personal messages. The contract carries
        this as a channel property (notice_only).
      operationId: listConsents
      responses:
        "200":
          description: Consents per channel.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Consent" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /consents/{channel}:
    put:
      tags: [Notifications]
      summary: Grant/revoke consent for a channel
      operationId: setConsent
      parameters:
        - name: channel
          in: path
          required: true
          schema: { $ref: "#/components/schemas/ConsentChannel" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: "#/components/schemas/ConsentStatus" }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Consent" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /journey:
    get:
      tags: [Journey & Open House]
      summary: Get journey progress
      operationId: getJourney
      responses:
        "200":
          description: Steps plus current step plus amount earned so far.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Journey" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /open-house/interest:
    post:
      tags: [Journey & Open House]
      summary: Express open-house interest (G3 only)
      description: |
        A non-binding expression of interest - not self-service. Never enter visitor data. The
        reward is a configurable value building block (not hard-wired).
      operationId: expressOpenHouseInterest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                season:
                  type: string
                  enum: [spring, summer, autumn, flexible]
                message: { type: string }
      responses:
        "202": { description: "Interest recorded, pending review." }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: "Available to home owners (G3) only." }

  /houses:
    get:
      tags: [Discover]
      summary: List house models
      operationId: listHouses
      responses:
        "200":
          description: House models.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/House" }

  /favorites:
    get:
      tags: [Discover]
      summary: List own favorites
      operationId: listFavorites
      responses:
        "200":
          description: Favorites.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Favorite" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Discover]
      summary: Save a favorite
      operationId: addFavorite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [favorite_type, external_ref]
              properties:
                favorite_type: { $ref: "#/components/schemas/FavoriteType" }
                external_ref: { type: string }
      responses:
        "201":
          description: Saved.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Favorite" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /favorites/{favoriteId}:
    delete:
      tags: [Discover]
      summary: Remove a favorite
      operationId: removeFavorite
      parameters:
        - name: favoriteId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: "Removed." }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /documents:
    get:
      tags: [Documents]
      summary: List own documents (signed URLs)
      operationId: listDocuments
      responses:
        "200":
          description: Own documents with temporarily signed URLs.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Document" }
        "401": { $ref: "#/components/responses/Unauthorized" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Supabase JWT (magic link). Tenant and role are carried in the claims. End customers get
        their tenant via an `endkunde` tenant membership; row-level security enforces that a
        user can only read their own rows.

  parameters:
    ReferralId:
      name: referralId
      in: path
      required: true
      schema: { type: string, format: uuid }
    AppointmentId:
      name: appointmentId
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    Unauthorized:
      description: Missing or invalid token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Not found (or outside the caller's own view).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    ValidationError:
      description: Invalid input.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Phase:
      type: string
      description: The user's life-cycle phase (drives emphasis only, never access).
      enum: [g1, g2, g3, g4]
      x-labels:
        g1: Orientation (prospect)
        g2: Build phase (builder)
        g3: Home owner
        g4: Connected (fan)

    Me:
      type: object
      properties:
        id: { type: string, format: uuid }
        first_name: { type: string }
        last_name: { type: string }
        phase: { $ref: "#/components/schemas/Phase" }
        phase_source:
          type: string
          enum: [system, manual, onboarding]
          description: How the current phase was derived.
        advisor:
          $ref: "#/components/schemas/Advisor"
      required: [id, phase]

    Advisor:
      type: object
      description: The fixed point of contact (advisor).
      properties:
        name: { type: string, example: Thomas Klein }
        role: { type: string, example: Building consultation }
        initials: { type: string, example: TK }

    ReferralList:
      type: object
      properties:
        active_count:
          type: integer
          description: Number of simultaneously active (running) referrals.
        detail_visible:
          type: boolean
          description: |
            true = fine-grained stages allowed (multiple active OR detail_consent). false =
            coarse 3-step tracker only (exactly one active, no consent).
        items:
          type: array
          items: { $ref: "#/components/schemas/Referral" }

    Referral:
      type: object
      description: A single referral - status, not identity; never names.
      properties:
        id: { type: string, format: uuid }
        payout_status: { $ref: "#/components/schemas/ReferralPayoutStatus" }
        fine_status:
          description: Only set when detail_visible = true; otherwise null.
          anyOf:
            - $ref: "#/components/schemas/ReferralFineStatus"
            - type: "null"
        payout_amount_eur: { type: integer, example: 1000 }
      required: [id, payout_status]

    ReferralPayoutStatus:
      type: string
      description: |
        Coarse 3-step tracker (always visible). Maps to the internal payout status
        (offen/faellig/ausgezahlt/storniert) in the `api` layer.
      enum: [active, payable, paid, cancelled]

    ReferralFineStatus:
      type: string
      description: Fine-grained stage (only when detail_visible = true).
      enum: [invited, in_consultation, building, paid]

    Appointment:
      type: object
      properties:
        id: { type: string, format: uuid }
        start_at: { type: string, format: date-time }
        end_at: { type: string, format: date-time }
        mode: { $ref: "#/components/schemas/AppointmentMode" }
        status:
          type: string
          enum: [requested, confirmed, cancelled]
        notes: { type: string }
      required: [id, start_at, status]

    AppointmentRequest:
      type: object
      required: [start_at, mode]
      properties:
        start_at: { type: string, format: date-time }
        mode: { $ref: "#/components/schemas/AppointmentMode" }
        notes: { type: string }

    AppointmentMode:
      type: string
      enum: [onsite, video, phone]

    NotificationPreferences:
      type: object
      description: Full channels for everything (personal messages AND notices).
      properties:
        in_app: { type: boolean, default: true }
        email: { type: boolean, default: true }
        sms: { type: boolean, default: false }
        email_digest:
          type: string
          enum: [instant, daily]
          default: instant

    Consent:
      type: object
      properties:
        channel: { $ref: "#/components/schemas/ConsentChannel" }
        status: { $ref: "#/components/schemas/ConsentStatus" }
        notice_only:
          type: boolean
          description: true for WhatsApp - notices only, no personal messages.
      required: [channel, status]

    ConsentChannel:
      type: string
      enum: [email, sms, whatsapp, push]

    ConsentStatus:
      type: string
      enum: [granted, revoked, pending]

    Journey:
      type: object
      properties:
        current_step: { type: integer }
        total_earned_eur: { type: integer }
        steps:
          type: array
          items: { $ref: "#/components/schemas/JourneyStep" }

    JourneyStep:
      type: object
      properties:
        step_number: { type: integer }
        title: { type: string }
        status:
          type: string
          enum: [locked, available, booked, completed]
        bonus_eur: { type: integer }

    House:
      type: object
      properties:
        id: { type: string }
        name: { type: string, example: Bellezza }
        category: { type: string }
        from_sqm: { type: number, description: "From X m2" }
        image_url: { type: [string, "null"], format: uri }

    Favorite:
      type: object
      properties:
        id: { type: string, format: uuid }
        favorite_type: { $ref: "#/components/schemas/FavoriteType" }
        external_ref: { type: string }
      required: [id, favorite_type, external_ref]

    FavoriteType:
      type: string
      description: Maps to the internal favorite_type (house/event/musterhaus) in the `api` layer.
      enum: [house, event, show_home]

    Document:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        kind:
          type: string
          enum: [contract, plan, warranty, other]
        signed_url: { type: string, format: uri }
        created_at: { type: string, format: date-time }

    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
        message: { type: string }
        details:
          type: object
          additionalProperties: true
